.DS_Store

# Do not version control source documents
/papers/*
!/papers/.gitkeep

# Temporary files that can be removed from this .gitignore once we're fully initialized
TODOs.md
clinical_notes_dementia_papers.md
clinical_notes_NOT_dementia.md
consolidated_literature_review.md

# Local notes we don't need versioned
local*